<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>sim_card</mat-icon>
  </button>
  <span>SIM info</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openDialog()">Add SIM Info</button>

  <div class="example-button-container">
    <button mat-icon-button color="warn" (click)="redirectToComponent('/navigation')"
      aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="redirectToComponent('/login')"
      aria-label="Example icon button with a home icon">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div class="container">
  <div style="margin-top: 10px;">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Type here to search...." #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="adviceOfCharge">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Advice of Charge (AoC) </th>
          <td mat-cell *matCellDef="let row"> {{row.adviceOfCharge}} </td>
        </ng-container>

        <ng-container matColumnDef="authenticationKey">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Authentication Key (Ki) </th>
          <td mat-cell *matCellDef="let row"> {{row.authenticationKey}} </td>
        </ng-container>

        <ng-container matColumnDef="mobileCountryCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile Country Code (MCC) </th>
          <td mat-cell *matCellDef="let row"> {{row.mobileCountryCode}} </td>
        </ng-container>

        <ng-container matColumnDef="localAreaIdentity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Local Area Identity (LAI) </th>
          <td mat-cell *matCellDef="let row"> {{row.localAreaIdentity}} </td>
        </ng-container>

        <ng-container matColumnDef="serviceProviderName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Service Provider Name (SPN) </th>
          <td mat-cell *matCellDef="let row"> {{row.serviceProviderName}} </td>
        </ng-container>

        <ng-container matColumnDef="integratedCircuitCardId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Integrated Circuit Card ID (ICCID) </th>
          <td mat-cell *matCellDef="let row"> {{row.integratedCircuitCardId}} </td>
        </ng-container>

        <ng-container matColumnDef="valueAddedServices">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Value-Added Services (VAS) </th>
          <td mat-cell *matCellDef="let row"> {{row.valueAddedServices}} </td>
        </ng-container>
        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Created Date </th>
          <td mat-cell *matCellDef="let row"> {{row.createdDate |date:'mediumDate'}} </td>
        </ng-container>
        <ng-container matColumnDef="changeAction">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Change Action </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="editSimInfo(row)" color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="deleteSimInfo(row.id)" mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>